POSTGRES_DB=hospital
POSTGRES_USER=hospital
POSTGRES_PASSWORD=hospital
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

API_PORT=8000

PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=rogerjove012005@gmail.com
PGADMIN_DEFAULT_PASSWORD=hospital

JWT_SECRET=dev-only-change-me
ADMIN_EMAIL=rogerjove012005@gmail.com
ADMIN_PASSWORD=hospital

FRONTEND_PORT=3000
